.situacao {
    text-align: center;
    width: 4.5rem;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 9999px;
    display: inline-block;
}

/* CORES */
.situacao-pendente {
    background-color: #FEF3C7;
    color: #92400E;
}

.situacao-pago {
    background-color: #D1FAE5;
    color: #065F46;
}

.situacao-recorrida {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.situacao-cancelada {
    background-color: #E5E7EB;
    color: #374151;
}

.situacao-vencida {
    background-color: #FECACA;
    color: #c41616;
}